.login-button {
    background: $login-btn-color;
    height: 2rem;
    color: #fff;
    font-family: $openSans;
    font-size: 18px;
    margin: 1rem 1rem;
    height: 50px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.account-button {
    background: $create-account-color;
    height: 2rem;
    color: #fff;
    font-family: $openSans;
    font-size: 18px;
    margin: 1rem 1rem;
    height: 50px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

input[type=email],
input[type=password] {
    height: 2rem;
    font-family: $openSans;
    margin: 1rem 1rem;
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $orange;
    color: $icon-color;

    svg {
        padding: 1rem;
    }
}

.accordion__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    .accordion__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: $create-your-own;
        padding: 1rem;
        width: 475px;
        height: 70px;
        font-size: 2rem;
        font-family: $ptSans;
        border: none;
        border-bottom: 6px solid darken($create-your-own, 20%);
        svg path {
            fill: #000;
        }
    }
    .breakfast {
        background: $breakfast-menu;
        border-bottom: 6px solid darken($breakfast-menu, 20%);
    }
    .lunch {
        background: $lunch-menu;
        border-bottom: 6px solid darken($lunch-menu, 20%);
    }
    .accordion__content {
        background: #fff;
        width: 475px;
        height: auto;
        font-size: 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.5s ease-out;
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            font-family: $openSans;
            border-bottom: 5px dotted $breakfast-menu;
        }
        svg path {
            fill: #000;
        }
        .food__item {
            display: grid;
            grid-template-columns: 50% 25% 25%;
            align-items: center;
            .food_price {
                justify-self: end;
                padding-right: 15px;
            }
            .add__food {
                border: none;
                background: $login-btn-color;
                height: 45px;
                color: #fff;
                border-radius: 10px;
                font-size: 16px;
            }
        }
    }
}

.radio-options {
    input[type="radio"] {
        opacity: 0;
    }
    input[type="radio"] + label::after {
        content: none;
    }
    input[type="radio"]:checked + label::after {
        content: "";
    }
    input[type="radio"]:focus + label::before {
        outline: $pickup-color auto 5px;
    }
    label {
        position: relative;
        display: inline-block;
        padding-left: 25px;
    }
    label::before, label::after {
        content: "";
        display: inline-block;
        position: absolute;
    }
    label::before {
        content: "";
        height: 16px;
        width: 16px;
        border: 2px $pickup-color solid;
        border-radius: 50%;
        background: #fff;
        left: 0px;
        top: 3px;
    }
    label::after {
        content: "";
        height: 6px;
        width: 9px;
        border-left: 3px $pickup-color solid;
        border-bottom: 3px $pickup-color solid;
        transform: rotate(-45deg);
        left: 4px;
        top: 7px;
    }
}

nav {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 500px;
    transform: translateX(-100%);
    transition: transform .8s cubic-bezier(.07, .30, .25, 1);
    top: 0;
    left: 0;
    z-index: 1;
    ul {
        li {
            font-size: 24px;
            padding: 2rem;
            background: $login-btn-color;
            &:nth-of-type(2) {
                background: darken($login-btn-color, 10%);
            }
            &:nth-of-type(3) {
                background: darken($login-btn-color, 20%);
            }
            &:nth-of-type(4) {
                background: darken($login-btn-color, 30%);
            }
        }
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

// Class for opening menu
.nav-open {
    transform: translateX(0);
}