/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif; }

h1 {
  font-size: 3em; }

p, address {
  font-family: "Open Sans", sans-serif; }

.login-button {
  background: #39cbaf;
  height: 2rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 1rem 1rem;
  height: 50px;
  border: none; }
  .login-button:hover {
    cursor: pointer; }

.account-button {
  background: #fd823c;
  height: 2rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 1rem 1rem;
  height: 50px;
  border: none; }
  .account-button:hover {
    cursor: pointer; }

input[type=email],
input[type=password] {
  height: 2rem;
  font-family: "Open Sans", sans-serif;
  margin: 1rem 1rem;
  font-size: 18px; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fd823c;
  color: #fff8cb; }
  header svg {
    padding: 1rem; }

.create-your-own {
  background: #3acbaf;
  border-bottom: 5px solid #b3ebe0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0 1rem 0; }
  .create-your-own h2 {
    font-size: 2rem;
    padding: 1rem; }
  .create-your-own svg {
    padding: 1rem;
    cursor: pointer; }

.breakfast {
  background: #fff38b;
  border-bottom: 5px solid #ffe825;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0 1rem 0; }
  .breakfast h2 {
    font-size: 2rem;
    padding: 1rem; }
  .breakfast svg {
    padding: 1rem; }
    .breakfast svg:hover {
      cursor: pointer; }

.lunch {
  background: #ff9487;
  border-bottom: 5px solid #ff3921;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0 1rem 0; }
  .lunch h2 {
    font-size: 2rem;
    padding: 1rem; }
  .lunch svg {
    padding: 1rem; }
    .lunch svg:hover {
      cursor: pointer; }

.radio-options input[type="radio"] {
  opacity: 0; }
.radio-options input[type="radio"] + label::after {
  content: none; }
.radio-options input[type="radio"]:checked + label::after {
  content: ""; }
.radio-options input[type="radio"]:focus + label::before {
  outline: #3b99fc auto 5px; }
.radio-options label {
  position: relative;
  display: inline-block;
  padding-left: 22px; }
.radio-options label::before, .radio-options label::after {
  content: "";
  display: inline-block;
  position: absolute; }
.radio-options label::before {
  content: "";
  height: 16px;
  width: 16px;
  border: 2px #2b688b solid;
  border-radius: 50%;
  background: #fff;
  left: 0px;
  top: 3px; }
.radio-options label::after {
  content: "";
  height: 6px;
  width: 9px;
  border-left: 3px #2b688b solid;
  border-bottom: 3px #2b688b solid;
  transform: rotate(-45deg);
  left: 4px;
  top: 7px; }

#greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4f9dc1; }
  #greeting-container h1 {
    margin: 10px 10px;
    color: #fff; }
  #greeting-container address {
    margin: 10px 10px;
    color: #fffd46; }

#login-container {
  background: #Fed859;
  display: flex;
  flex-direction: column; }

body {
  background: #fffce7; }

.menu-header {
  width: 100%;
  background: #ffd85a; }
  .menu-header h1 {
    text-align: center;
    padding: 1rem 0 1rem 0; }

a {
  text-decoration: none;
  color: #fff8cb; }

h2 {
  font-size: 2rem;
  background: #2b688b;
  color: #fff;
  padding: 1rem; }

.pickup-options, .tip-options, .payment-options {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0 1.5rem 0; }
  .pickup-options label, .tip-options label, .payment-options label {
    font-family: "Open Sans", sans-serif;
    font-size: 24px; }

/*# sourceMappingURL=style.css.map */
