h2 {
    font-size: 2rem;
    background: $pickup-color;
    color: #fff;
    padding: 1rem;
}
.pickup-options, .tip-options, .payment-options {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0 1.5rem 0;
    label {
        font-family: $openSans;
        font-size: 24px;
    }
}
