.pickup-options {
    h2 {
        font-size: 2rem;
        background: $pickup-color;
        color: #fff;
        padding: 1rem;
    }
}
.tip-options {
    h2 {
        font-size: 2rem;
        background: $tip-color;
        color: #fff;
        padding: 1rem;
    }
}
.payment-options {
    h2 {
        font-size: 2rem;
        background: $payment-color;
        color: #fff;
        padding: 1rem;
    }
}